# Author: Benjamin Schmid

Plugins>Sphere Projection, "Fit Sphere", projection.processing.Fit_Sphere
Plugins>Sphere Projection, "File Max Projection", projection.File_MaxProjection
Plugins>Sphere Projection, "Multiview Fusion", projection.processing.MultiviewFusion
Plugins>Sphere Projection, "Create 2D Maps", projection.processing.Map_Projection

Plugins>Sphere Projection, "3D View", projection.viz.SphereProjectionViewer
Plugins>Sphere Projection, "Create Map Overlay", projection.processing.Create_Overlay
Plugins>Sphere Projection, "Register Sphere Projections", projection.processing.Register_
Plugins>Sphere Projection, "Resample Projection", projection.processing.ResampleSMP
Plugins>Sphere Projection, "TV Filter", projection.processing.TV_Filter
Plugins>Sphere Projection, "Multilayer color code", projection.processing.Multilayer_Color_Code



